body {
    max-width: 600px;
    margin: 10px auto 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.otter-pedia {
    padding: 20px;
    text-align: center;
    background-color: beige;
    color: rgb(141, 123, 105);
    border-radius: 10px;
    line-height: 25px;
    letter-spacing: 0.1px;
}

.otter-pedia p {
    font-weight: 1000;
    font-size: 25px;
}

.sub-categories {
    text-align: center;
}

.sub-categories a {
    display: inline-block;
    margin: 0 10px 0 10px;
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted black;
    line-height: 15px;
}

main {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    line-height: 20px;
    letter-spacing: 0.5px;
    font-weight: 500px;
}

.Otters {
    text-align: center;
}

#image {
    background-image: url("images/Otter_1.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border-radius: 50%;
    border: 2px solid black;
    border-bottom: 4px solid black;
}

#footer p {
    text-align: center;
    margin-top: 50px;
}